h1{
	color:#33CCFF;
	text-align: center;
}
p{
	background-color: #FF66CC;
	color: white;
	border-color: #FF00FF;
	border-style: outset; 
	border-width: 5px;
	text-align: center;
}
body{
	background-color: #FFFFAD;
}